@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;

    --color-background: 0deg 0% 90%;
    --color-content: 0deg 0% 0%;
    --color-primary: 25deg 100% 55%;
    --color-accent: 225deg 15% 60%;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --color-background: 0deg 0% 10%;
        --color-content: 0deg 0% 100%;
        --color-primary: 25deg 100% 55%;
        --color-accent: 225deg 15% 60%;
    }
} */

body {
    background: hsl(var(--color-background));
    color: hsl(var(--color-content));
}

@layer components {
    .center {
        @apply flex flex-col items-center justify-center;
    };
}